<!DOCTYPE html>
<html lang="en">
<head>
    <title>CDNCheck.io</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="oxygen.css">
    <link rel="stylesheet" href="user.css">
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
</head>
<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand">CDNCheck.io</span>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a data-toggle="tab" href="#ip">域名查IP</a></li>
            <li><a data-toggle="tab" href="#domain">IP查域名</a></li>
        </ul>
    </div>
</nav>

<div class="jumbotron text-center">
    <div class="textbox">
        <h1>CDNCheck.io</h1>
        <p>轻量级CDN域名反查服务</p> 
    </div>
</div>

<div class="tab-content">
    <!-- 域名查IP模块 -->
    <div id="ip" class="tab-pane fade in active">
        <div class="container bigbox">
            <div class="col-sm-6 sepbox sepleft">
                <h3>域名信息</h3>
                <form class="infobox">
                    <div class="form-group">
                        <label for="url">目标URL:</label>
                        <div class="input-group">
                            <input id="url" type="text" class="form-control" v-model="hostname" placeholder="填写目标URL，含http://或https://">
                            <div class="input-group-btn">
                                <button class="btn btn-default disabled" type="button">
                                    拉取网页内容
                                </button>
                            </div>
                            <!--
                                WARNING: 由于浏览器CORS策略原因（防止客户端XSS/CSRF等攻击），系统无法利用JavaScript从前端发起
                                请求获取网页内容，故若需设置自动网页内容抓取，则必须放在服务端实现。而服务端发起请求势必会导致SSRF
                                （服务端请求伪造攻击）漏洞。
                                
                                若必须实现内容自动抓取功能，则解决方案有两种：
                                    1. 设置严密的IP限制，防止任何指向内网的IP产生
                                    2. 该服务器孤立，不设置内网
                                方案1需要服务器的限制极度严格。由于B-S架构的必要需求导致不能阻断所有对内域的请求，而若不从IP层面封
                                禁而通过简单的URL过滤实现的话，则很可能被绕过（如利用自定义DNS）。方案2可以彻底避免SSRF攻击的实现，
                                但孤立一台服务器同样会造成管理上的不便。
                                
                                同理，由于CDNCheck服务本身属于一种批量发包的扫描器，所以若不当利用很可能造成不必要的麻烦。

                                Alpha版暂不实现获取网页内容Handle.后端的method声明和API接口暂时保留，待后续版本添加。
                            -->
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="iprange">目标IP段:</label>
                        <input id="iprange" type="text" class="form-control" v-model="iprange" placeholder="填写CIDR风格的IP段，如192.168.1.0/24">
                    </div>
                    <div class="form-group">
                        <label for="spec">待比对特征:</label>
                        <textarea class="form-control" id="spec" v-model="spec" placeholder="填写目标网页的部分特征，可通过”拉取网页内容“拉取后修改"></textarea>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" value="" v-model="onlySuccFlag" checked>仅显示命中结果</label>
                    </div>
                    <button type="button" v-on:click="doIpLookup" class="btn btn-primary">提交查询</button>
                </form>
            </div>
            <div class="col-sm-6 sepbox sepright">
                <h3>测试结果</h3>
                <div class="container infobox">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-6">IP地址</th>
                                <th class="col-sm-6">是否命中</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="p in ansList" v-bind:class="p.retClass">
                                <td>{{ p.ip }}</td>
                                <td>{{ p.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
    </div>
    <!-- IP查域名模块 -->
    <div id="domain" class="tab-pane fade">
        
        <div class="container bigbox">
            <div class="col-sm-6 sepbox sepleft">
                <h3>IP信息</h3>
                <form class="infobox">
                    <div class="form-group">
                        <label for="url2">目标IP:</label>
                        <input v-model="url" id="url2" type="text" class="form-control" placeholder="填写目标IP，含http://或https://">
                    </div>
                    <div class="form-group">
                        <!-- 
                            todo:domainList 修改控件格式
                            从文件导入，多行选框+单行添加或删除控件
                            大小可以固定。
                        -->
                        <label for="domainlist2">域名列表:</label>
                        <textarea v-model="domainList" class="form-control" id="domainlist2" placeholder="填写所有待比对的域名，每行一个"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="spec2">待比对特征:</label>
                        <textarea v-model="spec" class="form-control" id="spec2" placeholder="填写目标网页的部分特征，可通过”拉取网页内容“拉取后修改"></textarea>
                    </div>
                    <div class="checkbox">
                        <label><input v-model="onlySuccFlag" type="checkbox" value="" checked>仅显示命中结果</label>
                    </div>
                    <button v-on:click="doDomainLookup" type="button" class="btn btn-primary">提交查询</button>
                </form>
            </div>
            <div class="col-sm-6 sepbox sepright">
                <h3>测试结果</h3>
                <div class="container infobox">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="col-sm-6">域名</th>
                                <th class="col-sm-6">是否命中</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="p in ansList" v-bind:class="p.retClass">
                                <td>{{ p.domain }}</td>
                                <td>{{ p.status }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Vue.js ViewModel Code, must be loaded last. -->
<script src="user.js"></script>
</body>
</html>
